:root{
    --color-principal:#4774C7;
    --color-secundario: #A9BEE5;
    --color-letra-secundaria: #74747B;
}

.formulario-registro-docente{
    box-sizing: border-box;
    margin: 5% 10%;
    font-family:Roboto ,Arial  ;
}
.titulo-formulario{
    color: var(--color-principal);
   
}
.contenedor-columnas{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.columna{
    padding: 10px;
}

/* ------------------------------------- */
/* Inputs y labels del formulario */
/* ------------------------------------- */
.formulario-registro-docente label{
    color:var(--color-letra-secundaria) ;
    
} 
.input{
    border: none;
    border: 1px solid var(--color-letra-secundaria);
    height: 30px;
    width: 80%;
    border-radius: 16px;
    margin: 9px;
    padding: 3px 10px;
    outline: none;
}
.input-contrasena{
    width: 50%;
}


/* ---------------------------------------- */
/* Contendor de los Checkbox */
/* ---------------------------------------- */
.check{
  height: 20px;
  width: 20px;
  border-radius: 20px;

   
}
.check-titulo{
    padding: 5px 10px;
}

.contenedor-check{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

/* -------------------------------------------- */
.linea{
    width: 80%;
    margin: 20px;
    border-bottom: 0.3px solid rgb(226, 223, 223);
}
.contendor-botones{
    display: flex;
    padding: 10px;
    margin: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.boton-submit{
    background-color: var(--color-principal);
    border: none;
    height: 40px;
    width: 280px;
    border-radius: 16px;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    font-size: 16px;
    margin: 5px;
}
/* ------------------------------- */
/* Contendor de las materias */
/* ------------------------------- */
.contenedor-materias-todas{
  overflow-y: scroll;
  max-height: 270px;
}
.contenedor-una-materia{
   display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted rgb(231, 226, 226);
    padding: 4px 10px 4px 4px ;
    
}



/* ----------------------------- */
/* Responsive  */
/* ------------------------------ */
@media only screen and (max-width: 768px){
    
    .contenedor-columnas{
       
        display: block;
       
    }
   
    .titulo-formulario{
        color: var(--color-principal);
    }
    .input{
        border: none;
        border: 1px solid var(--color-letra-secundaria);
        height: 30px;
        width: 80%;
        border-radius: 16px;
        margin: 9px;
        padding: 3px 10px;
        outline: none;
    }

    .formulario-registro-docente label{
        color:var(--color-letra-secundaria) ;
        
    }

    /* ---------------------------------------- */
    /* Contendor de los Checkbox */
    /* ---------------------------------------- */
    .check{
        height: 20px;
        width: 20px;
        border-radius: 20px;

    
    }
    .check-titulo{
        padding: 5px 10px;
    }

    .contenedor-check{
        display: flex;
        justify-content: space-evenly;
        padding: 5px;
    }

    /* -------------------------------------------- */
    .linea{
        width: 100%;
        margin: 20px;
        border-bottom: 0.3px solid rgb(226, 223, 223);
    }
    .contendor-botones{
        display: flex;
        padding: 10px;
        margin: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

}


.error{
    border: 1px solid red;
}